<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>{% block title %} Flask app {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bold text-uppercase" href="{{ url_for('index')}}">Ak1m1tsu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.index') }}">Users</a>
          </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('auth.signup') }}" class="nav-link">Sign Up</a>
          </li>
          {% endif %}
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.profile') }}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == 'info' %}
              <div class="alert alert-info text-center font-weight-bold">{{ message }}</div>
            {% else %}
              <div class="alert alert-danger text-center font-weight-bold">{{ message }}</div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
  {% block javascript %}
  {% endblock %}
</html>
