{% extends 'base.html' %} 

{% block content %}
<div class="card p-4 w-50 m-auto">
    <div class="card-title">
        <h1>{% block title %} Sign Up {% endblock %}</h1>
    </div>
    <div class="card-body">
        <div class="card-text">
            <form method="post" action="signup" class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                        <div class="invalid-feedback">
                            Please enter your username.
                        </div>
                      </div>
                      <div class="col mb-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                        <div class="invalid-feedback">
                            Please enter your password.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <button class="btn btn-primary btn-block" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename= 'js/validate.js') }}"></script>
{% endblock %}