{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h1>{% block title %} Discord users {% endblock %}</h1>
        </div>
        <div class="card-text">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date created</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="col" class="align-middle">{{ user.id }}</th>
                        <th scope="col" class="align-middle">
                            <a href="{{ url_for('users.edit', id=user.id) }}">{{ user.username }}</a>
                        </th>
                        <th scope="col" class="align-middle">{{ user.email }}</th>
                        <th scope="col" class="align-middle">{{ user.created }}</th>
                        <th scope="col" class="align-middle">
                            <form action="{{ url_for('users.delete', id=user.id) }}" method="post">
                                <button class="btn btn-danger btn-sm my-2 btn-block" type="submit"">Delete</button>
                            </form>
                        </th>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-between">
                <form action="{{ url_for('users.index') }}" method="get">
                    <input type="hidden" name='page' value='{{ page - 1 }}'>
                    {% if page > 1 %}
                    <input class='btn btn-secondary' type="submit" value='Back'>
                    {% endif %}
                </form>
                <form action="{{ url_for('users.index') }}" method="get">
                    <input type="hidden" name='page' value='{{ page + 1 }}'>
                    {% if page < last_page %}
                    <input class='btn btn-secondary' type="submit" value='Next'>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}