{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h1>{% block title %} Users {% endblock %}</h1>
        </div>
        <div class="card-text">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Date created</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="col" class="align-middle">{{ user.id }}</th>
                        <th scope="col" class="align-middle">
                            <a href="{{ url_for('users_bp.edit', id=user.id) }}">{{ user.username }}</a>
                        </th>
                        <th scope="col" class="align-middle">{{ user.email }}</th>
                        <th scope="col" class="align-middle">{{ user.created }}</th>
                        <th scope="col" class="align-middle">
                            <form action="{{ url_for('users_bp.delete', id=user.id) }}" method="post">
                                <button class="btn btn-danger btn-sm my-2 btn-block" type="submit"">Delete</button>
                            </form>
                        </th>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}