{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="card-title text-center">
            <h1>{% block title %} Discord members {% endblock %}</h1>
        </div>
        <div class="card-text">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Date created</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr>
                        <th scope="col" class="align-middle">{{ member.id }}</th>
                        <th scope="col" class="align-middle">
                            <a href="{{ url_for('members.member', id=member.id) }}">
                                {{ member.name }}#{{ member.discriminator }}
                            </a>
                        </th>
                        <th scope="col" class="align-middle">{{ member.created_at.strftime("%b %d, %Y") }}</th>
                        <th scope="col" class="align-middle">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-warning btn-sm ms-auto" href="{{ url_for('members.edit', id=member.id) }}" style="text-decoration: none;">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <form action="{{ url_for('members.delete', id=member.id) }}" method="post">
                                    <button class="btn btn-danger btn-sm ms-1" type="submit">
                                        <i class="fa-solid fa-delete-left"></i>
                                    </button>
                                </form>
                            </div>
                        </th>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex flex-row justify-content-between">
                <form action="{{ url_for('members.index') }}" method="get">
                    <input type="hidden" name='page' value='{{ page - 1 }}'>
                    {% if page > 1 %}
                        <input class='btn btn-secondary' type="submit" value='Back'>
                    {% endif %}
                </form>
                <div class="font-weight-bold" id="pages">
                    {{ page }} / 
                    {% if last_page < 1 %}
                        {{ last_page + 1 }}
                    {% else %}
                        {{ last_page }}
                    {% endif %}
                </div>
                <form action="{{ url_for('members.index') }}" method="get">
                    <input type="hidden" name='page' value='{{ page + 1 }}'>
                    {% if page < last_page %}
                        <input class='btn btn-secondary' type="submit" value='Next'>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}