{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Users {% endblock %}</h1>
    <div class="d-inline">
        {% for user in users %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><a href="{{ url_for('post', user_id=user[0]) }}" class="link-info">{{ user[1] }}</a></h2>
                <a href="{{ url_for('edit', id=user[0] ) }}">
                    <button class="btn btn-warning btn-xs my-2" type="button">Edit</button>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}